.products-box {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 15px;
  column-gap: 15px;
  row-gap: 15px;
}

mat-card.example-card {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.example-card:hover {
  transform: scale(1.01);
  transition: all 0.6s ease;
  cursor: pointer;
}


.button {
  margin-right: 5px;

}

.image {
  max-width: 300px;
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.button.button--edit {
  background-color: rgb(51, 50, 50);
}