<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <img class="image" mat-card-image [src]="Image">
    </mat-card-header>
    <mat-card-content>
      <p>Price: <span style="font-weight: bold;">20$</span> </p>
      <p>Year: <span style="font-weight: bold;">2022</span></p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary" type="button">TO BASKET</button>
      <button class="button" mat-flat-button color="primary">DETAILS</button>
      <button class="button" mat-flat-button color="primary">EDIT</button>
      <mat-menu>
        <button mat-menu-item>Delete</button>
        <button mat-menu-item>Edit</button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>

</div>