<form class="example-form" [formGroup]="myForm" (ngSubmit)="handelForm()">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Title" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input formControlName="price" matInput placeholder="Price" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Year</mat-label>
    <input formControlName="year" matInput placeholder="Year" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Chip</mat-label>
    <input formControlName="chip" matInput placeholder="Chip" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Hard Driver</mat-label>
    <input formControlName="ssd" matInput placeholder="ssd" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Memory</mat-label>
    <input formControlName="memory" matInput placeholder="Memory" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Display</mat-label>
    <input formControlName="display" matInput placeholder="Display" value="">
  </mat-form-field>

  <button class="button" mat-flat-button color="primary" type="submit">Add</button>
  <button class="button" mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>


</form>