<form class="example-form" [formGroup]="myForm" (ngSubmit)="handelForm()">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input formControlName="price" matInput placeholder="Price">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Year</mat-label>
    <input formControlName="year" matInput placeholder="Year">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Chip</mat-label>
    <input formControlName="chip" matInput placeholder="Chip">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Hard Driver</mat-label>
    <input formControlName="ssd" matInput placeholder="ssd">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Memory</mat-label>
    <input formControlName="memory" matInput placeholder="Memory">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Display</mat-label>
    <input formControlName="display" matInput placeholder="Display">
  </mat-form-field>

  <button class="button" mat-flat-button color="primary" type="submit">{{isNew ? 'Add' : 'Edit'}}</button>
  <button class="button" mat-flat-button color="primary" (click)="onNoClick()" type="button">Cancel</button>


</form>