<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="/">
      <mat-icon style="margin-right: 5px;">home</mat-icon>
      <span>Online Shop</span>
    </div>
    <span class="example-spacer"></span>

    <div class="toolbar no-select" *ngFor="let link of linksList">
      <button mat-flat-button color="accent" class="button" [routerLink]="link.path">{{link.label | titlecase}}</button>
      <!-- <button mat-flat-button color="accent" class="button" routerLink="products">Products</button>
      <button mat-flat-button color="accent" class="button" routerLink="basket">Basket</button> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>